h3 Articles

div Number of articles: {{articles.length}}  
div Number of categories: {{categories.length}}

//div(ng-switch="!!articles.length")
  //table.table.table-striped(ng-switch-when="true")
    //thead
      //td Article
   
    //tbody
      //tr(ng-repeat="article in articles")
        //td {{article.title}} {{article.smallbody}}


 
  //div (ng-repeat="article in articles") {{article.title}}
  //  {{article.smallbody}}




div.row
  div.col-md-8
      div(ng-repeat="article in articles")
        p
          a(href="/articles/{{article._id}}") {{article.title}}
          b {{article.date}}
          b {{article.author}}
        p {{article.smallbody}}

      button.btn.btn-success(ng-click="newArticle()") New Article
      br
      br
      div.col-md-4 
      p
        b Category:

      div(ng-repeat="category in categories")
        p
          a(href="/categories/category/{{article.categoryId}}") {{category.name}}

      p
        b Arkiv:
