h3 Articles

div Number of articles: {{articles.length}}  
div Number of categories: {{categories.length}}

div.row
  div.col-md-8
      div(ng-repeat="article in articles")
        p
          a(href="/articles/{{article._id}}") {{article.title}}
          b {{article.date}}
          b {{article.author}}
        p {{article.smallbody}}

      button.btn.btn-success(ng-click="newArticle()") New Article
      br
      br
      div.col-md-4 
      p
        b Category:

      div(ng-repeat="article in articles")
          p
            a(href="/articles/category/{{article.categoryId}}") {{article.category}}

      p
        b Arkiv:

      div(ng-repeat="article in articles")
          p
            a(href="/articles/category/{{article.categoryId}}") {{article.category}}
