h3 Articles

div Number of articles: {{articles.length}}  
div Number of categories: {{categorys.length}}
  p
//div(ng-switch="!!articles.length")
  //table.table.table-striped(ng-switch-when="true")
    //thead
      //td Article
   
    //tbody
      //tr(ng-repeat="article in articles")
        //td {{article.title}} {{article.smallbody}}


 
  //div (ng-repeat="article in articles") {{article.title}}
  //  {{article.smallbody}}




div.row
  div.col-md-8
      div(ng-repeat="article in articles")
        p
          b {{article.title}} 
        p {{article.smallbody}}

  div.col-md-4 
      div(ng-repeat="category in categorys")
        p
          b {{category.name}} 




button.btn.btn-success(ng-click="newArticle()") New Article


div.row
  div.col-md-8 AAAAAAAAAAAA
     

  div.col-md-4 CCCCCCCCCCCCCC
     
