h3 Contact Details

div
  h5(style="display:inline-block;width:150px") Department
  span {{employee.department}}
  div
  h5(style="display:inline-block;width:150px") P-number
  span {{employee.pno}}
  div
  h5(style="display:inline-block;width:150px") Age
  span {{employee.age}}
  div
  h5(style="display:inline-block;width:150px") First Name
  span {{employee.firstname}}
  div
  h5(style="display:inline-block;width:150px") Last Name
  span {{employee.lastname}}
  div
  h5(style="display:inline-block;width:150px") Age
  span {{employee.age}}

hr


.control-group
    .controls
      a.btn(href="/employees") Back
      a.btn.btn-success(href="/employees/{{employee._id}}/edit") Edit