div#login_container
    form#login
        label Username:
            div.input
                input(type="text" name="username" placeholder=" Enter your user name")
        label Password:
            div.input
                input(type="password" name="password" placeholder=" Enter your password")
        button#submit ng-click=login()